<!DOCTYPE html>
<html>
<head>
<title>
CYMBELINE 'SYNOPSIS'
</title>
</head>
<<body style="background-color:#ffd700;">

<p style="font-family:times new roman;font-size;300%;color:blue;"> So this is my homework.... I couldn't write about myself because I can be explained on ... basically anything. Well I figured that I should just do, for this 
website, a book report on a book I read last week. You see, my mom is big on classics and as you may guess,we have classical books all over the house.And
 me, well I dislike being idle. So when I'm bored I read. Don't get me confused. I'm NO BOOKWORM. At all. Books just relieve stress.
So I read this romance book; CYMBELINE.It's quite interesting. I've read it about five times so Ive pretty much mastered the book. The 'synopsis' is not 
really much considering the fact that I'm just a sixteen year old high school student. However, it should be noted that I am a very smart young woman with 
a bright future. Look at me talking about myself. Anyways.. lets go straight to the book. It's not that much but it should be noted that I have outdone myself in 
just thirty minutes. I hope my teacher will accept this work. I really tried to explain myself but I just couldn't. You see, my homework was to create a webpage
 about myself but I kinda run out of time... Man, I hate not doing work right. By the way,this 'synopsis' took alot of work. Here's the book. 
 </p>
<h1 style="font size:60%;text-align:center;font family verdana;color blue;">
Cymbeline (A Romantic Tragicomedy)
</h1>
<p>
Cymbeline, the King of Britain, is a widower with three children. His two boys (Guiderius and Arviragus) were kidnapped 20 years ago at age three, 
leaving his daughter, Imogen, as the only heir to the throne. Cymbeline marries, gaining a stepson, Cloten (rhymes with rotten) through his wife, 
the Queen, begotten from a previous marriage. Cymbeline wishes Imogen to marry her stepbrother, Cloten. Imogen disobeys and marries her childhood 
friend Posthumus Leonatus. Cymbeline, outraged, banishes Posthumus from Britain and imprisons Imogen (to the castle only, however).
Posthumus goes to Rome and meets his wartime friend, Philario. In Rome, Iachimo (a Frenchman) bets Posthumus that he (Iachimo) can woo Posthumus' 
wife Imogen, thereby breaking her chastity. Posthumus takes Iachimo up on the bet, and Iachimo heads to Britain. Iachimo cannot woo Imogen, however
, so he sneaks into her bedroom, steals her bracelet, and returns to Rome to successfully convince Posthumus that he has succeeded, though he hadn't
 actually succeeded. Posthumus, in anger, orders his servant, Pisanio, to kill Imogen. Pisanio cannot, though he makes it look like Imogen is dead by
 taking her to Milford Haven and disguising her as a male named Fidele. In Milford Haven, Imogen (as Fidele) meets her brothers living with Belarius,
 a lord banished years ago by Cymbeline. Imogen, of course, does not know this, though. It turns out that Belarius had kidnapped the boys in anger 
 towards Cymbeline for banishing him.
Unbeknownst to Imogen, Cloten had followed her to Milford Haven, wearing Posthumus' clothes, in hopes of tricking Imogen, since Cloten wishes to 
marry her. Cloten meets Guiderius and Cloten treats him rudely; a fight ensues and Guiderius cuts off Cloten's head. To cover up the death, he puts the
 head in the river and lets it float to the sea. Imogen falls sick and takes medicine given to her by Pisanio as a present. {The Queen had given the
 medicine (she thought poison) to Pisanio, thinking he would give it to Imogen or Posthumus as a gift. The Queen wanted one of them dead so that either 
 her son would be the only heir, or Imogen would have no husband and would be forced to marry Cloten. The medicine was given to the Queen by the doctor 
 Cornelius, though she had requested he give her poison.} The medicine puts Imogen into a deep sleep, and Belarius et al., thinking she is dead, lay her 
 to rest (above ground) beside Cloten's body. When Imogen awakes, she thinks (by the clothing) that she is beside her dead husband.
Meanwhile, Caius Lucius had visited Cymbeline demanding tribute to Rome and Augustus Caesar. Cymbeline refuses and Lucius declares war on Britain. 
From all this stress, and because her son is missing (actually dead), the Queen gets sick and dies. On her death bed she admits many evils, including 
hating Cymbeline. Caius Lucius comes across Imogen right after she awakens, and Imogen joins his army in despair. In the only battle of the war, 
Cymbeline is captured by the Romans, then rescued by Belarius, Guiderius, and Arviragus, plus a little help from Posthumus. The Britons then capture 
Posthumus, thinking he is Roman, and take him to Cymbeline, but only after Posthumus is visited by his late father, mother, brothers and Jupiter in a 
vision. In the last scene of the play, Imogen returns to her father, Iachimo confesses of his evils and the stealing of Imogen's bracelet, Cornelius explains
 the Queen's medicine/"poison", Cloten's death is explained, Belarius admits to kidnapping the princes, Cymbeline allows Imogen and Posthumus to stay married
 , a soothsayer explains a book left in Posthumus' lap by the god Jupiter, and peace is made with the Romans. Cymbeline does not punish Iachimo or Belarius.
 </p>
 </body>
 </html>

